p,
a,
span,
h1,
h2,
h3,
h4 {
  font-family: "Inter", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
  font-weight: 600;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
}
