@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@import url("https://use.typekit.net/zvh6tds.css");

html {
  overflow-y: scroll;
}

p,
a,
span,
h1,
h2,
h3,
h4,
header {
  font-family: "Inter", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
  font-weight: 600;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
}

.site-title {
  font-family: source-serif-pro;
  font-size: 2rem;
  color: #e84c2c;
  font-weight: 700;
  margin: 2rem 0;
  text-shadow: 1px -1px #3e3e40;
}

.photo-credits {
  font-size: 0.8rem;
}

.barry {
  display: flex;
  justify-content: center;
}
